*
{
    margin: 0;
    padding: 0;
}

body {
    background-image: url("369.jpg");
    height: 100px;
    background-size: cover;
    background-position: initial;
    background-repeat: no-repeat;
  }

  .main-nav {
      float: top center;
      list-style: none;
      margin-top: 60px;
   padding-left: 5cm;
      

  }

  .main-nav li {
      display: inline-block;

  }

  .main-nav li a 
  {
  
      color: white;
      text-decoration: none;
      padding: 5px 20px;
      font-family: "italic";
      font-size: 20px;

  }

  .main-nav li a:hover
{
    background-color: rgb(231, 16, 16);
    transition: all 0.4s ease;
}

 .logo img
 {
    
    margin-left: -50px;
float: left;
width: 150px;


 }

 .menu {
     max-width: 1200px;
     margin: auto;
     font-family: monospace;
 }

 .text {
     padding-top: 200px;
   margin-left: -50px;
    padding-top: cm;
    width: 200px;
    height: 200px;
    text-align: justify bottom left;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
 }
 .text:hover p {
     color:yellow;
 }
 .text:hover h2 {
    text-transform: uppercase;
 }

 .hero 
 {
     position: center;
     width: 1200px;
     text-shadow: 2px 2px 5px red;
    }

 h1 {
     margin-top: -200px;
     color: white;
     text-transform: uppercase;
     font-size: 70px;
     text-align: center;
     font-family: 'Times New Roman', Times, serif;

    
     
     
 }

 .button {
     margin-top: 30px;
     margin-left: 440px;

 }

 .but
 {
     border: 1px solid white;
     padding: 10px 30px;
     color: white;
     text-decoration: none;
     margin-right: 5px;
     font-size: 13px;
     text-transform: uppercase;
 }
 .but:hover {
background-color: tomato;
transition: all 0.5s ease;
 }

#page1{
    background-repeat: no-repeat;
    background-attachment: fixed;

}

#header h1{

}
 